#BattleScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;

    .damage-number {
        position: absolute;
        z-index: 999;
        top: 4rem;
        text-shadow: 2px 0px 0px #000;
        opacity: 0;
        animation: fadeIn .5s ease-out forwards;

        &.to-enemy {
            left: 4rem;
        }

        &.to-player {
            right: 3rem;
        }
    }

    @keyframes fadeIn {
        from { opacity: 1; transform: translateY(20px); }
        to { opacity: 0; transform: translateY(10px); }
    }

    .battle-display {
        width: 95%;
        color: #fff;
        background: #00008f;
        height: 4rem;
        position: absolute;
        bottom: 1%;
        display: flex;

        .message-box {
            border: 0.1rem solid;
            width: 65%;
            padding: .2rem;
            font-size: .5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .choco-info {
            border: .1rem solid;
            border-left: none;
            width: 35%;
            font-size: .45rem;
            text-align: left;
            padding: .3rem;

            .health, .power {
                padding-bottom: .25rem;
            }

            .power, .defense {
                line-height: .4rem;
            }
        }
    }
}