#FishingScreen {
    width: 100%;
    color: #fff;
    background: url('/src/graphics/minigame_assets/fishing/fishing-hole-bg.avif');
    background-size: cover;
    border: 0.25rem solid #555;
    border-radius: 1rem;
    height: 100%;
    cursor: pointer;
    position: inherit;
    z-index: 2;
    align-content: end;

    .fishing {
        &-minigame {
            width: 90%;
            margin: 0 auto;

            div {
                margin: .5rem 0;
                font-size: .75rem;
            }
        }
        &-meter {
            position: relative;
            height: 1.5rem;
            margin: 1rem 0 .75rem;
            overflow: hidden;
            background: linear-gradient(90deg, #1CB5E0 0%, #0f186c 100%);
            box-shadow: 0px 0px 6px #fff;
            border-radius: .2rem;
            opacity: .95;
        }
        &-target {
            position: absolute;
            left: 39%;
            width: 22%;
            height: 100%;
            background-color: #52ba5c;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-lure {
            position: absolute;
            top: 0;
            width: 5%;
            height: 100%;
            box-sizing: border-box;
            background: linear-gradient(to bottom, #e85454 0 50%, #fff 50% 100%);
            border-radius: 50%;
        }
        &-hint {
            color: #fff;
            background: rgba(0,0,0,.8);
            border: 3px solid #fff;
            border-radius: .2rem;
            padding: 5px 0;
        }
        &-result {
            margin: .5rem 0;
            color: #fff;
            background: rgba(0,0,0,.8);
            border: 3px solid #fff;
            border-radius: .2rem;
            padding: 5px;
        }
    }
}  