#GameDisplay {
    display: flex;
    flex-direction: rows;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: #222;
    height: 100%;
    border: .25rem solid #555;
    align-items: flex-end; 
    padding-bottom: 5%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

    // Determines which game bg to show based on time of day
    &.day-bg {
        background: url('/src/graphics/backgrounds/pet-bg-day.png');
    }
    &.evening-bg {
        background: url('/src/graphics/backgrounds/pet-bg-evening.png');
    }
    &.night-bg {
        background: url('/src/graphics/backgrounds/pet-bg-night.png');
    }

    .food-graphic {
        height: auto;
        width: 10%;
        img {
            height: 100%;
            width: 100%;
        }
    }

    #MoodDisplay {
        position: absolute;
        z-index: 2;
        border-radius: 10rem;
        padding: .25rem;
        top: .25rem;
        left: .25rem;
        background-color: #fff;
        pointer-events: none;
        .mood-icon, img {
            height: 1rem;
        }
    }

    #StatusDisplay {
        position: absolute;
        z-index: 2;
        border-radius: 10rem;
        padding: .25rem;
        top: .25rem;
        right: .25rem;
        background-color: #fff;
        pointer-events: none;
        .status-icon, img {
            height: 1rem;
        }
    }
}