#GameContainer {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 30rem;
    position: absolute;
    text-align: center;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    background: url('src/graphics/shell_textures/orange-texture.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    #GameDisplay {
        flex: auto;
    }

    #Menu {
        flex: auto;
    }
}