.question-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../../src/graphics/backgrounds/status-window-bg.png);
    background-size: contain;
    background-color: #cbcaff;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem 0;
    border: .25rem solid #555;
    font-style: normal;
    position: relative;

    .responses {
        text-align: left;
        line-height: 1rem;
        text-transform: capitalize;
        width: fit-content;
        padding: 0.5rem;
        font-size: 0.65rem;

        // FOR FF Style Menu
        border: 0.1rem solid;
        margin: 0.5rem 0;
        color: #fff;
        background: #00008f;

        .question-container {
            width: 100%;
            text-align: left;
        }
    }

    .choco-icon {
        position: absolute;
        bottom: 0;

        img {
            height: 4rem;
            width: 4rem;
        }
    }
}