#ShopScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../../src/graphics/backgrounds/status-window-bg.png);
    background-size: contain;
    background-color: #cbcaff;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem 0;
    border: .25rem solid #555;
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    position: relative;

    .title {
        font-size: 1rem;
        font-weight: bold;
        padding-bottom: .5rem;
        text-transform: uppercase;
    }

    .current-money {
        letter-spacing: -.5rem;
    }

    .shop-list {
        text-align: left;
        line-height: 1rem;
        padding: 0.1rem 0.5rem;
        font-size: 0.5rem;
        max-height: 75%;
        overflow: scroll;
        border: .2rem solid #000;
        width: 95%;
        margin-top: .5rem;

        .shop-item {
            padding: .25rem;
            border: .1rem solid;
            margin: .5rem 0;
            background: rgba(40,200,255,.6);
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: #222;
                color: #fff;
            }

            .cost {
                position: absolute;
                right: 0.25rem;
                background: red;
                color: #fff;
                padding: .1rem;
            }

            .item {
                &-top {
                    display: flex;
                    align-items: center;
                }
                &-image {
                    padding-right: .5rem;
                    img {
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }
        }
    }

    .choco-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: scaleX(-1);

        img {
            height: 3rem;
            width: 3rem;
        }
    }
}