#StatusScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/src/graphics/backgrounds/status-window-bg.png);
    background-size: contain;
    background-color: #cbcaff;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem 0;
    border: .25rem solid #555;
    font-style: normal;
    position: relative;

    .name {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .status-details {
        text-align: left;
        line-height: 1rem;
        gap: 0.5rem;
        text-transform: capitalize;
        width: fit-content;
        padding: .5rem;
        font-size: .65rem;

        // FOR FF Style Menu
        border: 0.1rem solid;
        margin: 0.5rem 0;
        color: #fff;
        background: #00008f;

        .star-value {
            position: relative;
            bottom: .15rem;
            font-size: .8rem;
        }
    }

    .choco-icon {
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            height: 2.5rem;
            width: 2.5rem;
            transform: scaleX(-1);
        }
    }
}