#DigipetRoot {
    // background: url('src/graphics/backgrounds/blue-bg.png');
    background: #17EB8F;
    background-size: cover;
    background-position: center;

    .disabled {
        opacity: .8;
        filter: grayscale(100%);
        pointer-events: none;
    }

    .top-panel, .bottom-panel {
        display: flex;
        flex-direction: column;
        // height: 50%;
        // width: 60%;
        border-radius: 1rem;
    }

    .top-panel {
        height: 17rem;
        width: 16rem;
        padding: 1.5rem 0 .5rem 0;
    }

    .bottom-panel {
        padding-top: 1rem;
    }
}